<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.title}}</title>
    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/home.css" />
  </head>
  <body>
    <div class="app">
      <header class="header">
        <svg>
          <text x="50%" y="50%" fill="transparent" text-anchor="middle">
            DEV
          </text>
        </svg>
      </header>

      <!-- nav -->
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__list__item">
            <a class="nav__list__item__link" href="/">Home</a>
          </li>
          <li class="nav__list__item">
            <a class="nav__list__item__link" href="/about">About</a>
          </li>
          <li class="nav__list__item">
            <a class="nav__list__item__link" href="/contact">Contact</a>
          </li>
          <li class="nav__list__item">
            <a class="nav__list__item__link" href="/timeline">Timeline</a>
          </li>
        </ul>
      </nav>
      <!-- nav end -->

      <!-- main -->
      <main class="main">Nothing to see here</main>
      <!-- main end -->
    </div>
  </body>
</html>
