:root {
    --color-primary: #f00;
    --color-secondary: #0f0;
    --color-tertiary: #00f;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ccc;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    border-radius: 10px;
}